body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    background-attachment: fixed; /* Fixar a imagem ao fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar a logo */
    padding: 10px 20px;
}

.logo {
    height: 50px;
    margin-right: 10px; /* Espaço entre a logo e os créditos */
}

.credits {
    font-size: 16px;
    color: #333;
}

.principal {
    max-width: 90%;
    margin: 80px auto 0px; /* Adicionar margem superior para compensar a navbar fixa */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px; /* Adicionar padding */
    flex: 1;
    box-shadow: 0px 1px 9px 0px #0000005c;

}


h1, h2 {
    color: #333;
}

button {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0faa0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #ffffff;
    color: #0faa0f;
    border: 0.5px solid #0faa0f;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
}

.carousel-image {
    width: 100%;
    height: 100%; /* Ocupando toda a área disponível */
    object-fit: cover; /* Garantindo que a imagem cubra toda a área */
    display: none;
    transition: opacity 1s ease-in-out; /* Transição suave */
}

.carousel-image.active {
    display: block;
    opacity: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px; /* Adicionar padding */
}

.content > p {
    padding: 5px;
}

.content img {
    max-width: 45%;
    border-radius: 5px;
}

.content p {
    max-width: 50%;
}

img {
    width: 100%; /* Garantir que todas as imagens tenham a mesma largura */
    height: auto; /* Manter a proporção da imagem */
    border-radius: 5px;
}

.divider {
    height: 50px;
    background-color: #006919; /* Verde claro */
    border-radius: 5px;
}

.footer {
    background-color: #006919; /* Verde claro */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.btn_care {
    display: flex;
    justify-content: center; /* Centralizar o botão */
    margin-top: 20px;
}

/* Estilos responsivos para celular e tablets */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .credits {
        font-size: 14px;
    }

    .principal {
        margin: 100px auto 0px; /* Ajustar margem superior para compensar a navbar fixa */
        padding: 10px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .content img, .content p {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .carousel {
        max-width: 100%;
    }

    .carousel-image {
        height: auto; /* Ajustar altura para auto */
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}
